.u-block-e6f7-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e6f7-3 {
  position: absolute;
  left: 0;
}

.u-block-e6f7-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 721px;
}

.u-section-1-1 .u-text-1 {
  margin: 144px auto 0 33px;
}

.u-section-1-1 .u-text-2 {
  margin: 40px 59px 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 841px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 880px;
  margin: 42px auto;
}

.u-section-2 .u-layout-cell-1 {
  --radius: 20px;
  min-height: 394px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 96px;
  width: 96px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 212px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  --radius: 20px;
  min-height: 394px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 96px;
  width: 96px;
  color: rgb(150, 147, 230) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 229px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 25px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  --radius: 20px;
  min-height: 380px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 96px;
  width: 96px;
  color: rgb(255, 193, 102) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  width: 212px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  --radius: 20px;
  min-height: 391px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 96px;
  width: 96px;
  color: rgb(255, 138, 138) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 212px;
  margin: 21px auto 0;
}

.u-section-2 .u-text-8 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 174px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 467px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 19px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 331px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 437px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 376px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  width: 118px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 21px 1px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  width: 118px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 21px 1px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  width: 118px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 21px 1px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  width: 118px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 21px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 245px;
  }

  .u-section-4 .u-text-1 {
    width: 81px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: 81px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: 81px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    width: 81px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 564px;
}

.u-section-5 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 444px;
}

.u-section-5 .u-repeater-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 222px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 222px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 222px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11px);
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}